<ng-container>
  <div class="user" *ngIf="user">
    <div>
      <span class="login-name">{{ user.name }}</span>
      <a routerLink="/logout" (click)="logout()">Log out</a>
    </div>
    <a routerLink="/admin">
      <button class="login-button" title="Admin page" tabindex="-1"></button>
    </a>
  </div>
  <div class="user" *ngIf="!user">
    <div>
      <a routerLink="/auth" (click)="login()">Log in</a>
    </div>
    <button
      routerLink="/auth"
      class="login-button still"
      title="Log in"
    ></button>
  </div>
</ng-container>
