button {
  background-color: rgba(47, 128, 237, 1);
  border: none;
  color: white;
  box-shadow: 2px 0px 4px 0px rgba(47, 128, 237, 1);
}

button:hover {
  background-color: rgb(0, 96, 223);
}

.login-name {
  margin-right: 1vw;
  color: #4f4f4f;
  font-size: 1vw;
}

.login-button {
  height: 2.2vw;
  min-height: 30px;
  width: 2.2vw;
  min-width: 30px;
  background-image: url("/assets/login.svg");
  background-repeat: no-repeat;
  background-size: 104%;
  background-position: center;
  border-radius: 0.4vw;
  background-color: none;
}
