<div class="search-container">
  <div class="search-container-main">
    <a *ngIf="auth" routerLink="video" class="logo"></a>
    <a *ngIf="!auth" routerLink="auth" class="logo"></a>
    <div class="input-container">
      <input
        class="search-input"
        type="text"
        id="input"
        (input)="onChange($event)"
        placeholder="What do you want to find out?"
        [disabled]="!auth"
      />
    </div>
    <button
      (click)="toggleSettings()"
      class="settings-button"
      [disabled]="!auth"
    ></button>

    <div class="login">
      <app-login></app-login>
    </div>
  </div>
  <div *ngIf="visible">
    <app-filters class="search-container-footer"></app-filters>
  </div>
</div>
