:host {
  width: 30vw;
  min-width: 320px;
  margin: 0 auto;
  padding: 1.5vw 2vw;
  background-color: #f2f2f2;
  border-radius: 0.4vw;
}

.header {
  border-bottom: 1px solid #9e9e9e;
  padding-bottom: 1vw;
  margin-bottom: 1.8vw;
}

button {
  position: relative;
  margin-right: 1.2vw;
  padding: 0;
  border: 0;
  background: 0;
  font-size: 1.2vw;
  color: #2F80ED;
  box-shadow: none;
}

button:disabled,
button:enabled:hover {
  text-decoration: underline;
}

button:enabled {
  cursor: pointer;
}
