* {
  box-sizing: border-box;
}

:host {
  display: block;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-header {
  display: flex;
  background-color: #E5E5E5;
  width: 100%;
}

.layout-header > * {
  width: 100%;
}

.layout-main {
  padding-top: 1.5vw;
  padding-bottom: 1vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
