* {
  box-sizing: border-box;
}

.video-details {
  display: flex;
  position: relative;
  width: 90vw;
  margin: 0 auto;
  border-bottom-left-radius: 0.4vw;
  border-top-right-radius: 0.4vw;
  background: #E5E5E5;
  box-shadow: 5px 10px 10px 0px rgba(47, 128, 237, 0.25);
}

img {
  width: 55%;
  border-bottom-left-radius: 0.4vw;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2f80ed;
  border: none;
  color: #fff;
  font-size: 2vw;
  position: absolute;
  padding: 0;
  width: 3vw;
  height: 3vw;
  left: -3vw;
  box-shadow: -2px 2px 4px 0px rgba(47, 128, 237, 0.25);
  border-bottom-left-radius: 0.4vw;
  border-top-left-radius: 0.4vw;
}

.details {
  padding-left: 4vw;
  padding-right: 3vw;
  margin-top: 3vw;
  width: 45%;
  margin-left: auto;
}

.details > div:last-of-type {
  border-bottom-left-radius: 0 !important;
}

.header-row {
  display: flex;
  align-items: baseline;
  margin-bottom: 2vw;
}

.title {
  font-size: 2vw;
  color: #000;
  font-weight: 700;
  max-width: 60%;
}

.date {
  font-size: 1vw;
  color: #828282;
  margin-left: auto;
}

.sub-title {
  margin-bottom: 1vw;
  font-size: 1.2vw;
  color: #000;
}

.description {
  font-size: 1vw;
  color: #828282;
  margin-bottom: 2vw;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2vw;
  height: 2vw;
  font-size: 1vw;
  color: #000;
}

.video-views,
.video-likes,
.video-dislikes,
.video-comments {
  position: relative;
  display: flex;
  align-items: center;
}

.video-views:before,
.video-likes:before,
.video-dislikes:before,
.video-comments:before {
  content: '';
  position: absolute;
  height: 1vw;
  width: 1vw;
  left: -1.4vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  color: rgb(61, 61, 61);
}

.video-views:before {
  background-image: url('/assets/viewed.svg');
}

.video-likes:before {
  background-image: url('/assets/liked.svg');
}

.video-dislikes:before {
  background-image: url('/assets/dislike.svg');
}

.video-comments:before {
  background-image: url('/assets/comments.svg');
}
