.video-item {
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(229, 229, 229, 1);
  padding: 1.4vw;
  border-radius: 0.4vw;
}

.video-img {
  width: 100%;
  margin-bottom: 1vw;
}

.video-title {
  margin-bottom: 1.5vw;
  text-align: center;
  font-size: 1.4vw;
  font-weight: 500;
}

.video-stats {
  width: 98%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 1vw;
  font-size: 1vw;
}

.video-views,
.video-likes,
.video-dislikes,
.video-comments {
  display: flex;
  align-items: center;
}

.video-views:before,
.video-likes:before,
.video-dislikes:before,
.video-comments:before {
  content: '';
  position: relative;
  height: 1vw;
  width: 1vw;
  margin-right: 0.2vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  color: rgb(61, 61, 61);
}

.video-views:before {
  background-image: url('/assets/viewed.svg');
}

.video-likes:before {
  background-image: url('/assets/liked.svg');
}

.video-dislikes:before {
  background-image: url('/assets/dislike.svg');
}

.video-comments:before {
  background-image: url('/assets/comments.svg');
}


.video-button {
  width: 44%;
  margin: 0.8vw;
  padding: 0.6vw 0;
  box-shadow: 2px 0px 4px 0px rgba(47, 128, 237, 1);
  background-color: #2F80ED;
  border: none;
  border-radius: 0.2vw;
  color: white;
  font-size: 1vw;
}
