/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* { box-sizing: border-box; }

button {
  padding: calc(4px + 0.1vmin);
  background-color: rgba(47, 128, 237, 1);
  border-radius: calc(4px + 0.1vmin);
  border: none;
  color: white;
  font-size: 1.2rem;
  box-shadow: 2px 0px 4px 0px rgba(47, 128, 237, 1);
}

button:hover {
  background-color: rgb(0, 96, 223);
  cursor: pointer;
}

button:disabled {
  background-color: #acacac;
  box-shadow: none;
}

input {
  border-radius: calc(4px + 0.1vmin);
  padding: calc(5px + 0.1vmin);
  font-size: calc(10px + 1vmin);
  border: 1px solid #c9c9c9;
}

*:focus {
  outline: 2px solid rgb(52, 140, 255);
}
